footer{
	margin-top:2rem;
	background-color: var(--primary-color);
	padding:2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:black;
	width: 100%;
	font-family: sans-serif;
}

.group{
	display: flex;
	gap:5%;
	width: 80%;
	margin-bottom: 2rem;
}

.group div h3{
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}

.group div p{
	font-size: 2rem;
	margin:1rem 0;
}

footer>p{
	font-family: 'Franklin Gothic Medium';
	font-size: 2.5rem;
	color:white;
}